<section>
    <div class="container my-md-2">
        <dl class="row">
            <dt class="col-md-2"><strong>Category:</strong></dt>
            <dd class="col-md-10">
                <a href="#">Movie</a>
                <a href="#">Series</a>
                <a href="#">Episode</a>
            </dd>
            <dt class="col-md-2"><strong>Genre:</strong></dt>
            <dd class="col-md-10">
                <a href="#">Animation</a>
                <a href="#">Adventure</a>
                <a href="#">Comedy</a>
                <a href="#">Family</a>
                <a href="#">Fantasy</a>
                <a href="#">Musical</a>
            </dd>
            <dt class="col-md-2"><strong>Year:</strong></dt>
            <dd class="col-md-10">
                <a href="#">2019</a>
                <a href="#">2018</a>
                <a href="#">2017</a>
                <a href="#">2016</a>
                <a href="#">2016</a>
            </dd>
            <dt class="col-md-2"><strong>Country:</strong></dt>
            <dd class="col-md-10">
                <a href="#">USA</a>
                <a href="#">Europe</a>
            </dd>
            <dt class="col-md-2"><strong>Language:</strong></dt>
            <dd class="col-md-10">
                <a href="#">English</a>
                <a href="#">French</a>
            </dd>
        </dl>
    </div>
</section>
