<!-- <section class="search-box">
    <div class="container p-md-3">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <input #movieTitle class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            </div>
            <div class="col-md-auto">
                <button class="btn btn-secondary my-2 my-sm-0" (click)="search(movieTitle.value)">Search</button>
            </div>
        </div>
    </div>
</section> -->
<section>
    <div class="container my-md-2">
        <dl class="row">
            <dt class="col-md-1">Category:</dt>
            <dd class="col-md-11">
                <a href="#">Movie</a>
                <a href="#">Series</a>
                <a href="#">Episode</a>
            </dd>
            <dt class="col-md-1">Genre:</dt>
            <dd class="col-md-11">
                <a href="#">Animation</a>
                <a href="#">Adventure</a>
                <a href="#">Comedy</a>
                <a href="#">Family</a>
                <a href="#">Fantasy</a>
                <a href="#">Musical</a>
            </dd>
            <dt class="col-md-1">Year:</dt>
            <dd class="col-md-11">
                <a href="#">2020</a>
                <a href="#">2019</a>
                <a href="#">2018</a>
                <a href="#">2017</a>
                <a href="#">2016</a>
            </dd>
            <dt class="col-md-1">Country:</dt>
            <dd class="col-md-11">
                <a href="#">USA</a>
                <a href="#">Europe</a>
            </dd>
            <dt class="col-md-1">Language:</dt>
            <dd class="col-md-11">
                <a href="#">English</a>
                <a href="#">French</a>
            </dd>
        </dl>
    </div>
</section>
