<section>
    <div class="container my-md-2">
        <dl class="row">
            <dt class="col-md-3">Category</dt>
            <dd class="col-md-9">
                <a href="#" class="mx-md-2">Movie</a>
                <a href="#" class="mx-md-2">Series</a>
                <a href="#" class="mx-md-2">Episode</a>
            </dd>
            <dt class="col-md-3">Genre:</dt>
            <dd class="col-md-9">
                <a href="#" class="mx-md-2">Animation</a>
                <a href="#" class="mx-md-2">Adventure</a>
                <a href="#" class="mx-md-2">Comedy</a>
                <a href="#" class="mx-md-2">Family</a>
                <a href="#" class="mx-md-2">Fantasy</a>
                <a href="#" class="mx-md-2">Musical</a>
            </dd>
            <dt class="col-md-3">Year:</dt>
            <dd class="col-md-9">
                <a href="#" class="mx-md-2">2020</a>
                <a href="#" class="mx-md-2">2019</a>
                <a href="#" class="mx-md-2">2018</a>
                <a href="#" class="mx-md-2">2017</a>
                <a href="#" class="mx-md-2">2016</a>
            </dd>
            <dt class="col-md-3">Country:</dt>
            <dd class="col-md-9">
                <a href="#" class="mx-md-2">USA</a>
                <a href="#" class="mx-md-2">Europe</a>
            </dd>
            <dt class="col-md-3">Language:</dt>
            <dd class="col-md-9">
                <a href="#" class="mx-md-2">English</a>
                <a href="#" class="mx-md-2">French</a>
            </dd>
        </dl>
    </div>
</section>
