<footer class="bg-secondary text-white">
    <div class="container">
        <div class="row py-md-5">
            <div class="col-md-3">   
                <ul>
                    <h4>Project</h4>
                    <li><a href="#">Latest Release</a></li>
                    <li><a href="#">Updates</a></li>
                    <li><a href="#">License</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul>
                    <h4>Resources</h4>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Newsletter</a></li>
                    <li><a href="#">Events</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul>
                    <h4>Support</h4>
                    <li><a href="#">Troubleshooting</a></li>
                    <li><a href="#">Common Questions</a></li>
                    <li><a href="#">Get Help</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul>
                    <h4>Company</h4>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Team</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
        </div>
        <div class="pb-md-2">
            <div class="pt-md-3">
                <ul class="d-flex justify-content-center">
                    <li class="mx-md-2"><a href="#"><i class="fa fa-facebook-square fa-2x"></i></a></li>
                    <li class="mx-md-2"><a href="#"><i class="fa fa-twitter-square fa-2x"></i></a></li>
                    <li class="mx-md-2"><a href="#"><i class="fa fa-google-plus-square fa-2x"></i></a></li>
                    <li class="mx-md-2"><a href="#"><i class="fa fa-instagram fa-2x"></i></a></li>
                </ul>
            </div>
            <p class="text-center cr-text">Copyright &copy; 2020 by MovieSE. All rights reserved.</p>
        </div>
    </div>
</footer>