ul {
    list-style-type: none;
}

a:link,
a:visited {
    text-decoration: none;
    color: #dee2e6;
    transition: color 0.2s;
}

a:hover,
a:active {
    color: #fff;
}

.cr-text {
    color: #ddd;
}

.fa-facebook-square:hover {
    color: #3b5998;
}

.fa-twitter-square:hover {
    color: #00aced;
}

.fa-google-plus-square:hover {
    color: #dd4b39;
}

.fa-instagram:hover {
    color: #517fa4;
}