<div class="d-flex flex-column flex-md-row align-items-center justify-content-between p-3 px-md-4 bg-white border-bottom shadow-sm">
  <div class="col-md-3">
    <h5 class="my-0 mr-md-auto font-weight-normal no-focus" routerLink="">Home</h5>
  </div>
  <div class="col-md-6">
    <div class="input-group">
      <input (keydown.enter)="search(movieTitle.value)" #movieTitle type="text" class="form-control" placeholder="Search">
      <div class="input-group-append">
        <button class="btn btn-success" (click)="search(movieTitle.value)"><i class="fa fa-search"></i></button>
      </div>
    </div>
  </div>
  <div *ngIf="!userLoggedIn" class="col-md-2">
    <span class="float-right">
      <button type="button" class="btn btn-outline-secondary mr-md-2" data-toggle="modal" data-target="#logInModalCenter">
        Log In
      </button>
      <button type="button" class="btn btn-danger mr-md-2" data-toggle="modal" data-target="#signUpModalCenter">
        Sign Up
      </button>
    </span>
  </div>
  <div *ngIf="userLoggedIn" class="col-md-2">
    <span class="float-right">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          User Management
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="/profile" routerLink="profile">Profile</a>
          <a class="dropdown-item" href="#" (click)="logOut()">Log out</a>
        </div>
      </div>
    </span>
  </div>
</div>

<!-- Modal for Log In button -->
<div class="modal fade" id="logInModalCenter" tabindex="-1" role="dialog" aria-labelledby="logInModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="logInModalCenterTitle">Log In to Your Account</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-login (logInEvent)="logIn()"></app-login>
      </div>
    </div>
  </div>
</div>

<!-- Modal for Sign Up button -->
<div class="modal fade" id="signUpModalCenter" tabindex="-1" role="dialog" aria-labelledby="signUpModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="signUpModalCenterTitle">Sign Up</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-register></app-register>
      </div>
    </div>
  </div>
</div>