<app-search-result-bar [numOfResults]="numOfResults"></app-search-result-bar>
<section>
    <div class="container py-5">
        <div class="row" >
            <div class="col-md-3 mb-5" *ngFor="let movieSnapshot of currentMovieSnapshots">
                <app-movie-snapshot [movieSnapshot]="movieSnapshot"></app-movie-snapshot>
            </div>
        </div>
        <app-pagination 
        (onPageLoad)="pageLoadClick($event)" 
        [pageNumbers]="currentPageNumArr"
        [previousEnabled]="pBtnEnabled"
        [nextEnabled]="nBtnEnabled"
        ></app-pagination>
    </div>
</section>

